[submodule "nfs"]
	path = nfs
	url = https://github.com/Mohitsharma44/nfsserver-alpine
[submodule "playbooks/docker-swarm"]
	path = playbooks/docker-swarm
	url = https://github.com/Mohitsharma44/ansible-docker-swarm.git
